<footer class="footer bg-dark sticky-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>&copy;
							{{ "now"|date("Y") }}
							La confrérie du cassoulet</p>
					</div>
					<div class="col-md-6 text-md-end">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="#">Terms of Service</a>
							</li>
							<li class="list-inline-item">
								<a href="#">Privacy Policy</a>
							</li>
							<li class="list-inline-item">
								<a href="#">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>