{# templates/user/profile.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profil de {{ user.username }}</h1>
    <!-- Affichez d'autres informations selon vos besoins -->
    <p>Email: {{ user.email }}</p>
    <!-- Ajoutez plus de détails du profil ici -->
{% endblock %}